{
    "morningstar": {
        "user": "USERID",
        "pass": "USERPASSWORD"
    },
    "googleSheets": {
        "sheet_id": "PAGEID",
        "type": "",
        "project_id": "",
        "private_key_id": "",
        "private_key": "",
        "client_email": "",
        "client_id": "",
        "auth_uri": "",
        "token_uri": "",
        "auth_provider_x509_cert_url": "",
        "client_x509_cert_url": ""
    },
    "ABRA": {
        "port": 8080
    },
    "trainList": [
        {"code": "BHP", "year": 2020, "output": 0},
        {"code": "RIO", "year": 2020, "output": 0},
        {"code": "FMG", "year": 2020, "output": 0},
        {"code": "WES", "year": 2020, "output": 0},
        {"code": "WOW", "year": 2020, "output": 0},
        {"code": "STO", "year": 2020, "output": 0},
        {"code": "TLS", "year": 2020, "output": 0},
        {"code": "NCM", "year": 2020, "output": 0},
        {"code": "DSH", "year": 2015, "output": 0.8},
        {"code": "HSL", "year": 2000, "output": 0.9},
        {"code": "ONE1", "year": 2000, "output": 1}
    ]
}